.main-desc {
  display: flex !important;
  width: 100% !important;
}

.info {
  display: flex !important;
  align-items: center !important;
  font-size: small !important;
}

.info>p {
  color: rgba(0, 0, 0, 0.4) !important;
  margin: 0 10px !important;
}

.info>p>span {
  color: rgba(0, 0, 0, 0.8) !important;
  margin: 0 5px !important;
}

.arrow {
  font-size: 2rem !important;
  color: rgba(0, 0, 0, 0.25) !important;
  cursor: pointer !important;
}

.arrow:hover {
  color:burlywood !important;
}

.votes{
  font-size: 2rem !important;
  color: rgba(0, 0, 0, 0.25) !important;
}



.all-options>.MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.25) !important;
  font-size: large !important;
  margin: 5px 0 !important;
}


.comments {
  margin: 10px 0 !important;
  width: 90% !important;
  margin-left: auto !important;
}

.comment {
  display: flex !important;
  flex-direction: column !important;
  font-size: 0.9rem !important;
  padding: 10px 0 !important;
  border-bottom: 1px solid #eee !important;
}

.comment>p {
  margin: 10px 0 !important;
}

.comment>p>span {
  padding: 3px !important;
  background-color: #0121f028 !important;
  color: #0121f0d8 !important;
  border-radius: 2px !important;
}

.comments>p {
  margin-left: -35px !important;
  margin-top: 20px !important;
  font-size: small !important;
  cursor: pointer !important;
  color: rgba(0, 0, 0, 0.4) !important;
}

.comments>p :hover {
  color: #0121f0a2 !important;
}

/* 0121f0a2 */

/* .ql-syntax {
    display: flex !important;
    width: 90% !important;
    overflow: hidden !important;
  } */
pre {
  padding: 10px;
  display: flex !important;
  width: fit-content  !important;
  height: fit-content !important;
  background-color: rgb(239, 236, 236) !important;
  border-radius: 2px !important;
  margin: 10px 0 !important;
}


