.all-questions {
    display: flex !important;
    width: 100% !important;
    padding: 20px 0px !important;
    border-bottom: 1px solid #eee !important;
    width: 100% !important;
  }
  
  .all-questions-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100% !important;
  }
  
  .all-questions-left {
    display: flex !important;
    margin-right: 30px !important;
  }
  
  .all-options {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    color: rgba(0, 0, 0, 0.7) !important;
    font-size: small !important;
  }
  
  .all-option {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-bottom: 10px !important;
  }
  
  .all-option > p {
    font-size: large !important;
  }
  
  .question-answer {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  
  .question-answer > a {
    color: #0151f0d8 !important;
    font-size: 1.1rem !important;
    margin-bottom: 10px !important;
  }
  .question-answer > a:hover {
    color: #1649b1d8 !important;
    font-size: 1.1rem !important;
    margin-bottom: 10px !important;
  }
  
  .question-answer > p {
    font-size: 0.9rem !important;
    color: rgba(0, 0, 0, 0.7) !important;
    margin-bottom: 10px !important;
  }

  .question-tags{
    margin: 10px 5px !important;
    padding: 5px 10px !important;
    background-color: #0151f03d !important;
    border-radius: 3px !important;
  }
  
  .author {
    display: flex !important;
    flex-direction: column !important;
    margin-left: auto !important;
  }
  
  .author > small {
    color: rgba(0, 0, 0, 0.5) !important;
    margin-bottom: 5px !important;
  }
  
  .auth-details {
    display: flex !important;
    align-items: center !important;
  }
  
  .auth-details > p {
    margin-left: 5px !important;
    font-size: small !important;
    color: #0151f0d8 !important;
  }
  
  .comments {
    margin: 10px 0 !important;
    width: 90% !important;
    margin-left: auto !important;
  }
  
  .comment {
    display: flex !important;
    flex-direction: column !important;
    font-size: 0.9rem !important;
    padding: 10px 0px !important;
    border-bottom: 1px solid #eee !important;
    border-top: 1px solid #eee !important;
  }
  
  .comment > p {
    margin: 10px 0 !important;
  }
  
  .comment > p > span {
    padding: 3px !important;
    background-color: #0151f028 !important;
    color: #0151f0d8 !important;
    border-radius: 2px !important;
  }
  
  .comments > p {
    margin-left: -30px !important;
    margin-top: 20px !important;
    font-size: small !important;
    cursor: pointer !important;
    color: rgba(0, 0, 0, 0.4) !important;
  }
  
  .comments > p:hover {
    color: #0151f0a2 !important;
  }