.stack-index {
    min-width: fit-content !important;
    display: flex !important;
    min-height: 85vh !important;
  }
  
  .stack-index-content {
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
  }